@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*product view*/

.product__addToCart {
  width: 3cm;
  margin: 3px 0;
  height: 30px;
}

.product__image {
  width: 250px;
  max-height: 300px;
  padding: 10px;
  border-radius: 4px;
}

.product {
  max-width: 250px;
  height: max-content;
  border-radius: 5px;
  background-color: #2c2c2c;
}

.product:hover {
  box-shadow: 0px 0px 10px black;
  transition: 600ms ease-in-out;
}

.product__price {
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.product__paragraph {
  padding: 10px;
  color: white;
  max-width: 250px;
}

.product__productName {
  font-size: 25px;
  color: white;
}

.product--Container {
  margin: 0 2cm;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.productLink {
  max-width: 250px;
}

/*Search form*/

input.searchQuery {
  outline: 0;
  height: 1cm;
  width: 8cm;
  max-width: 8cm;
  display: block;
  position: relative;
  border: 1px black inset;
  margin: 1cm auto;
  border-radius: 4px;
  text-indent: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NavBar */

nav {
  position: fixed;
  display: block;
  padding: 10px;
  border: 2px solid rgb(255, 187, 0);
  border-left: 0;
  background-color: #2c2c2c;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.nav__navIcon {
  margin: 10px 0;
  font-size: 50px;
  list-style-type: none;
  color: white;
  text-align: center;
}

.nav__navitem a {
  color: white;
  text-align: center;
  display: block;
}

.nav__navitem a :hover {
  overflow-y: hidden;
  max-height: 100vh;
  color: orange;
  transition: 600ms ease-in-out color;
}

/* Detail View */
.detailView-Wrapper {
  margin: 0.5cm 2cm;
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: 500px auto;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}
.productImage {
  width: 500px;
  border-radius: 10px;
}

h1.title {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}

section.circles {
  display: inline-block;
}

section.circles span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 4px;
  border-radius: 50%;
  background-color: rgb(255, 128, 128);
}

.description {
  margin-top: 10px;
  text-indent: 1cm;
  max-width: 500px;
}

.manufacturers {
  display: block;
  color: wheat;
  font-size: 13px;
  background-color: #2c2c2c;
  width: min-content;
  padding: 2px;
  border-radius: 4px;
}

.suggestionsContainer {
  display: flex;
}

.suggestionsContainer a {
  margin: 0 10px;
  margin-left: 0;
}

/* CartView */

.cartItemGrid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5px 0;
}

.CartItemContainer {
  display: grid;
  width: max-content;
  border-radius: 4px;
  background-color: #c4c4c4;
  grid-template-columns: 450px auto;
  grid-gap: 20px;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.productWrapper {
  display: flex;
  align-items: center;
}

.cartItemProductImage {
  width: 100px;
  margin-right: 10px;
}

.removeButton {
  background-color: rgb(255, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  color: white;
  border: 0;
  width: 2cm;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton {
  font-size: 20px;
}

.quantityEdit {
  text-indent: 5px;
  width: 1.3cm;
  height: 0.8cm;
  margin: 5px;
}

.cartContainer {
  margin: 1cm 2cm;
}
